body{
  background-color:black;
  text-align:center
  
  
}

h1{
  color:white;
  border:2px solid;
  padding:10px
  
  
  
}
#Gui{
  color:white
  
}
p{
  color:#E6A250
}

a{
  text-decoration:none;
  color:white;
  border-style:solid;
  border-color:white;
  padding:10px;
    border-radius:5px;
    
}
#Miqueias{
  color:red
  
  
  
  
}